body {
    background-color: purple;
    color: white;
}
ul{
    background-color: black;
}
* button{
    background-color: green;
    margin: 0 auto;
    display: block;
} 
table{
    background-color: red;
}